.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-list {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* .cart-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 18vh;
  background-color: #494949;
}
.cart-text h1 {
  color: white;
} */

/* Cart.css */

.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cart-text {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #2c3e50;
  color: #ecf0f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-text h1 {
  margin: 0;
}

/* CartItem styles (assuming it's a component with a similar structure) */
.cart-item {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  background-color: #ecf0f1;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item img {
  height: 80px;
  width: auto;
  margin-right: 10px;
}

.cart-item-info {
  flex: 1;
  text-align: left;
}

.cart-item-info h2 {
  margin: 0;
  font-size: 18px;
}

.cart-item-info p {
  margin: 5px 0;
  color: #333;
}

.cart-item-price {
  font-size: 18px;
  font-weight: bold;
}

/* Proceed to Checkout button styles */
.checkout-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffea30;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.checkout-button:hover {
  background-color: #fbff00;
}
