.page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product-name {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.middle-section {
    height: 50vh;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 30%;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reviews p {
    float: left;
}

.reviews button {
    float: right;
}
