/* .main {
    width: 80%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product-image {
    height: 80%;
    width: 10vw;
}

.middle-section {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.actions {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
}

.actions button {
    width: 100%;
}

.add-to-cart {
    background-color: #6184FF;
    color: white;
    border-radius: 10%;
}

:hover .add-to-cart {
    cursor: pointer;
}

.remove-from-wishlist {
    background: none;
    border: none;
    text-decoration: none;
    outline: none;
    color: #6184FF;
}

.remove-from-wishlist:hover  {
    cursor: pointer;
    color: #ff6161;
} */

.main {
    width: 80%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ecf0f1; /* Choose your background color */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    height: 80%;
    width: 10vw;
    border-radius: 5px;
    object-fit: cover; /* Ensure the image covers the container */
  }
  
  .middle-section {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  
  .actions {
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .actions button {
    width: 30%;
    height: inherit;
    padding: 0;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart {
    background-color: #27ae60; /* Choose your button color */
    color: white;
  }
  
  .add-to-cart:hover {
    background-color: #219f56; /* Choose your button hover color */
  }
  
  .remove-from-wishlist {
    background: none;
    border: none;
    text-decoration: none;
    outline: none;
    color: #3498db; /* Choose your link color */
  }
  
  .remove-from-wishlist:hover {
    cursor: pointer;
    color: #e74c3c; /* Choose your hover color */
  }