.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}