.main {
    width: 80%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product-image {
    height: 80%;
    width: 10vw;
    object-fit: contain;
}

.middle-section {
    height: 80%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.actions {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
}

.actions button {
    width: 100%;
}

.add-to-cart {
    background-color: #6184FF;
    color: white;
    border-radius: 10%;
}

:hover .add-to-cart {
    cursor: pointer;
}

.remove-from-wishlist {
    background: none;
    border: none;
    text-decoration: none;
    outline: none;
    color: #6184FF;
}

:hover .remove-from-wishlist {
    cursor: pointer;
}